    <div class="case_width case_cat case_fl">
        <div class="mainStyle">
            <div class="case_catwidth">
                <div class="case_title">
                    <div class="mobile-tborder"></div>
                    <div>餐饮案例</div>
                    <div class="mobile-tborder"></div>
                </div>
                <div class="case_img">
                    <center>
                        <img src="<%= relativePath %>/images/website/case/catlogo.png">
                        <img src="<%= relativePath %>/images/website/case/cater.png">
                    </center>
                    <div>饭来了</div>
                </div>
                <div class="case_content">
                    饭来了专注于校园食堂的订餐服务平台。通过饭来了，学生能够实现一键订餐，极速送餐上楼，而且是私人定制的升级版食堂便当 。同时我们还能提供个性化的早餐定制，解决学生早餐需求。
                </div>
            </div>
            <div class="case_catimg mobile-none">
                <i class="clearmid"></i>
                <img data-src="<%= relativePath %>/images/website/case/E1.png" style="width: 190px;vertical-align: middle;">
                <img data-src="<%= relativePath %>/images/website/case/E2.png" style="width: 168px;vertical-align: middle;">
            </div>
            
            <div class="case_catimg pcimg-none">
                <i class="clearmid"></i>
                <center>
                    <img data-src="<%= relativePath %>/images/website/case/E1.png" style="width: 36%;vertical-align: middle;">
                <img data-src="<%= relativePath %>/images/website/case/E2.png" style="width: 32%;vertical-align: middle;">
                </center>
            </div>
        </div>
    </div>