<div class="case_width case_demo case_fl">
    <div class="mainStyle">
        <div class="case_demowidth">
            <div class="case_title">
                <div class="mobile-tborder"></div>
                <div>电商案例</div>
                <div class="mobile-tborder"></div>
            </div>
            <div class="clearfix"></div>
            <div class="case_img">
                <center>
                    <img src="<%= relativePath %>/images/website/case/demologo.png">
                    <img src="<%= relativePath %>/images/website/case/demoer.png">
                </center>
                <div>一元云购</div>
            </div>
            <div class="case_content">
                1元云购商城是一种全新的购物方式,最潮流的数码产品，生活用品，低价尝试，惊喜回报，是娱乐、购物一体化的一个全新的购物平台。1元就有机会买到小米手机。
            </div>
        </div>
        <div class="case_demoimg mobile-none">
            <i class="clearmid"></i>
            <img data-src="<%= relativePath %>/images/website/case/A1.png" style="width: 190px;vertical-align: middle;">
            <img data-src="<%= relativePath %>/images/website/case/A2.png" style="width: 157px;vertical-align: middle;">
            <img data-src="<%= relativePath %>/images/website/case/A3.png" style="width: 157px;vertical-align: middle;">
        </div>
        <div class="case_demoimg pcimg-none">
            <i class="clearmid"></i>
            <center>
            <img data-src="<%= relativePath %>/images/website/case/A1.png" style="width: 36%;vertical-align: middle;">
            <img data-src="<%= relativePath %>/images/website/case/A2.png" style="width: 32%;vertical-align: middle;">
            </center>
        </div>
    </div>
</div>