            <div class="case_width case_service case_fl">
                <div class="mainStyle">
                    <div class="case_servicewidth">
                        <div class="case_title">
                            <div class="mobile-tborder"></div>
                            <div>服务业案例</div>
                            <div class="mobile-tborder"></div>
                        </div>
                        <div class="case_img">
                            <center>
                                <img src="<%= relativePath %>/images/website/case/serlogo.png">
                                <img src="<%= relativePath %>/images/website/case/serer.png">
                            </center>
                            <div>德奈福</div>
                        </div>
                        <div class="case_content">

                            行业唯一一家洗衣App可实现商户入住的平台；行业唯一一家可实现App与微信商城两网打通企业；支持更丰富的交互设计，更好的用户体验；预约下单洗衣，随时随地，互联互通。
                        </div>
                    </div>
                    <div class="case_serviceimg mobile-none">
                        <img data-src="<%= relativePath %>/images/website/case/C1.png" style="width: 190px;vertical-align: middle;">
                        <img data-src="<%= relativePath %>/images/website/case/C2.png" style="width: 157px;vertical-align: middle;">
                        <img data-src="<%= relativePath %>/images/website/case/C3.png" style="width: 157px;vertical-align: middle;">
                    </div>
                    
                    <div class="case_serviceimg pcimg-none">
                        <center>
                            <img data-src="<%= relativePath %>/images/website/case/C1.png" style="width: 36%;vertical-align: middle;">
                            <img data-src="<%= relativePath %>/images/website/case/C2.png" style="width: 32%;vertical-align: middle;">
                        </center>
                    </div>
                </div>
            </div>