<div class="case_width case_case case_fl">
    <div class="mainStyle">
        <div class="case_caseimgleft mobile-none">
            <i class="clearmid"></i>
            <img data-src="<%= relativePath %>/images/website/case/B1.png" style="width: 157px;vertical-align: middle;">
            <img data-src="<%= relativePath %>/images/website/case/B2.png" style="width: 157px;vertical-align: middle;">
            <img data-src="<%= relativePath %>/images/website/case/B3.png" style="width: 190px;vertical-align: middle;">
        </div>
        
        <div class="case_casewidthright">
            <div class="case_title">
                <div class="mobile-tborder"></div>
                <div>社交案例</div>
                <div class="mobile-tborder"></div>
            </div>
            <div class="case_img">
                <center>
                    <img src="<%= relativePath %>/images/website/case/soclogo.png">
                <img src="<%= relativePath %>/images/website/case/socer.png">
                </center>
                <div>闻闻窝宠物</div>
            </div>
            <div class="case_content">
               如果你喜欢狗，爱狗，养狗，想养狗，想了解狗，那么你的手机里都应该安装一个《狗狗大全》，这里有完备的狗狗信息、狗狗萌图、狗狗周边商家信息，还有专业的医生、训练师、营养师及造型师解答您爱狗的问题，更有很多养狗人士在里面互动，《狗狗大全》你值得拥有。
            </div>
        </div>
        
        <div class="case_caseimgleft pcimg-none">
            <i class="clearmid"></i>
            <center>
            <img data-src="<%= relativePath %>/images/website/case/B3.png" style="width: 36%;vertical-align: middle;">
            <img data-src="<%= relativePath %>/images/website/case/B2.png" style="width: 32%;vertical-align: middle;">
            </center>
        </div>
        
    </div>
</div>