            <div class="case_width case_edu case_fl">
                <div class="mainStyle">
                    <div class="case_eduimgleft mobile-none">
                        <i class="clearmid"></i>
                        <img data-src="<%= relativePath %>/images/website/case/D1.png" style="width: 190px;vertical-align: middle;">
                        <img data-src="<%= relativePath %>/images/website/case/D2.png" style="width: 195px;vertical-align: middle;">
                    </div>
                    <div class="case_eduwidthright">
                        <div class="case_title">
                            <div class="mobile-tborder"></div>
                            <div>教育案例</div>
                            <div class="mobile-tborder"></div>
                        </div>
                        <div class="case_img">
                            <center>
                                <img src="<%= relativePath %>/images/website/case/edulogo.png">
                                <img src="<%= relativePath %>/images/website/case/eduer.png">
                            </center>
                            <div>东奥题库宝典</div>
                        </div>
                        <div class="case_content">
                            东奥题库宝典是东奥会计在线倾力为学员打造的一款会计练习题App。东奥会计在线凭借业内名师、17年经久不衰的“轻松过关系列”辅导书和精品课程，全程为学员提供一站式会计学习服务。本题库App在继承历年教学内容精华的基础上，针对不断变化的移动学习场景和学习阶段而研发，方便学习，轻松过关取证。
                        </div>
                    </div>
                    <div class="case_eduimgleft pcimg-none">
                        <i class="clearmid"></i>
                        <center>
                            <img data-src="<%= relativePath %>/images/website/case/D2.png" style="width: 36%;vertical-align: middle;">
                            <img data-src="<%= relativePath %>/images/website/case/D1.png" style="width: 32%;vertical-align: middle;">
                        
                        </center>
                    </div>
                </div>
            </div>