<div class="pc-none product-mobile-menu">
    <div class="mobile-title">产品中心</div>
    <div class="mobile-line"></div>
    <div class="mobile-menu">
        <ul>
            <li <%= pageName === "a1" ? "class=active" : "" %>><a href='javascript:{ window.location.href = "http://" + window.location.host + "/website/a1" + window.location.search }'>电商行业</a></li>
            <li <%= pageName === "a2" ? "class=active" : "" %>><a href='javascript:{ window.location.href = "http://" + window.location.host + "/website/a2" + window.location.search }'>社交行业</a></li>
            <li <%= pageName === "a3" ? "class=active" : "" %>><a href='javascript:{ window.location.href = "http://" + window.location.host + "/website/a3" + window.location.search }'>服务行业</a></li>
            <li <%= pageName === "a4" ? "class=active" : "" %>><a href='javascript:{ window.location.href = "http://" + window.location.host + "/website/a4" + window.location.search }'>教育行业</a></li>
            <li <%= pageName === "a5" ? "class=active" : "" %>><a href='javascript:{ window.location.href = "http://" + window.location.host + "/website/a5" + window.location.search }'>餐饮行业</a></li>
        </ul>
    </div>
</div>