<% include website/var.html %>
    <% pageName = "a1" %>
        <!doctype html>
        <html>

        <head>
            <title>电子商务——真旺云应用平台</title>
            <meta name="description" content="">
            <link rel="stylesheet" href="<%= relativePath %>/stylesheets/plan.css" />
            <link rel="stylesheet" href="<%= relativePath %>/stylesheets/case.css" />
            <% include website/header.html %>
                <% include components/productheader.html %>
                    <div class="clearfix"></div>
                    <div class="electricity">
                        <div class="electricitybg">
                            <div class="public_title mainStyle">
                                <h2>电子商务</h2>
                                <h1>行业解决方案</h1>
                            </div>
                        </div>

                        <div class="electricity_content mainStyle">
                            <div class="electricity_contentl">
                                <div class="title">电商品牌<div class="pc-none"></div>如何实现全网营销?</div>
                                <div class="content content-both1">
                                    <img class="pc-none" style="margin-top: -12%;" src="<%= relativePath %>/images/website/electricitydemo.png" />
                                    <div>利用手机App的强交互性，通过对互动流程和方式的设计，以App内部信息推送、一元夺宝、在线沟通、论坛等富媒体互动方式增加会员的黏性和忠诚度，最终实现在与会员的互动中达到营销的目的。</div>                                    
                                </div>
                                
                                <br>
                                <div class="content">数据表明，互动营销效果比单向的广告提升50%；另外，相对于通过其他平台，企业利用手机App做营销更加方便直接，且信息是由企业自行发布，自由度及可信度更高。</div><br>
                                <div class="content">同时，拥有丰富插件的真旺云平台为客户提供专业运营后台,对用户行为以及消费趋势进行大数据分析，辅助企业进行营销决策和活动策划，使商家的营销达到最好的效果。</div><br><br><br>

                                <div class="x_title clear-margin"><b>移动交易平台</b></div>
                                <div class="content">
                                    我们将您的商品移到手机中，客户可以随时随地浏览您的商品；同时在客户最感兴趣的时候利用手机就可实现下单交易流程，让客户的购物热情不再冷却。
                                </div>
                                <div class="x_title"><b>商铺全方位展示</b></div>
                                <div class="content">
                                    我们将您的平台放在了客户的口袋里，将你的品牌、服务深植于客户心中，便携的同时更易宣传，这是一个提高平台品牌知名度的强势手段。
                                </div>
                                <div class="x_title"><b>线上线下完美互动</b></div>
                                <div class="content">利用先进的LBS等技术我们帮助您线上线下店铺紧密结合，通过社区、论坛、一元夺宝、优惠券等功能实现更多的交互以及趣味互动性，让店铺和网上商城双拳合并实现完美互动。</div>
                            </div>
                            <div class="electricity_contentr">
                                <center>
                                    <img class="mobile-none" src="<%= relativePath %>/images/website/electricitydemo.png" />
                                </center>
                                <div class="x_title"><b>即时消息推送</b></div>
                                <div class="content">打破传统邮件短信营销方式，无论是iPhone还是Android，您将可以随时将最新促销活动推送到客户的手机桌面，这将获得比传统推广方式提高5~10倍的推广效果。</div>

                                <div class="x_title"><b>完善的客户管理</b></div>
                                <div class="content">会员信息系统不仅可以收集到完善的客户资料，更可以对客户的关注行为进行分析，为您提供更加直接可靠的用户需求。</div>

                                <div class="x_title"><b>交易安全可靠性</b></div>
                                <div class="content">手机的独占性和私密性，及用户登录客户端使用帐号、密码等验证信息，第三方支付的安全性，都加强了用户信息及手机支付的安全。</div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="bgf2">
                        <% include components/case1.html %>
                    </div>

                    <% include website/footer.html %>
                     <script src='<%= relativePath %>/javascript/website/plan.js'></script>
                        </body>

        </html>