<% include website/var.html %>
    <% pageName = "a2" %>
        <!doctype html>
        <html>

        <head>
            <title>社交——真旺云应用平台</title>
            <meta name="description" content="">
            <link rel="stylesheet" href="<%= relativePath %>/stylesheets/plan.css" />
            <link rel="stylesheet" href="<%= relativePath %>/stylesheets/case.css" />
            <% include website/header.html %>
 <% include components/productheader.html %>
 <div class="clearfix"></div>
                <div class="social">
                    <div class="socialbg">
                        <div class="public_title mainStyle">
                            <h2>社交</h2>
                            <h1>行业解决方案</h1>
                        </div>
                    </div>

                    <div class="social_content mainStyle">
                        <div class="social_contentl">
                            <div class="content topm content-both1">
                                <img class="pc-none" src="<%= relativePath %>/images/website/socialdemo.png" />
                                <div>人口红利在给移动互联网带来增长机遇的同时，还推动着智能移动终端的普及，以及带动国内移动社交应用覆盖设备规模的逐渐扩大，目前预计覆盖了10.41亿部终端，包括陌生人社交和熟人社交，其中陌生人社交用户规模达3.5亿。<br>
                                <div class="mobile-none">社交App基于社交平台，借助群聚效应，可以大大提高产品知名度和用户粘性。社交App具有强烈的群体属性，社交电商商家可以随时与用户沟通交流，了解并满足用户的个性化需求。</div></div>
                                
                            </div><br><br>
                             
                             <div class="pc-none content">社交App基于社交平台，借助群聚效应，可以大大提高产品知名度和用户粘性。社交App具有强烈的群体属性，社交电商商家可以随时与用户沟通交流，了解并满足用户的个性化需求。</div>
                             
                            <div class="title">
                                社交App开发特点
                            </div>

                            <div><b>陌生交友</b></div>

                            <div class="content">
                                从多个市场的下载量数据分析，很多社交App开发公司能够进入到陌生交友领域，尤其是在垂直细分的陌生交友领域，该类应用存在着很大潜力。
                            </div>

                            <div><b>熟人圈</b></div>
                            <div class="content">
                                移动互联网的发展给熟人关系领域搭建沟通桥梁，从目前该领域的情况来看，具有强烈的情感属性，熟人的交际环境。
                            </div>

                        </div>
                        <div class="social_contentr">
                            <center>
                                <img class="mobile-none" src="<%= relativePath %>/images/website/socialdemo.png" />
                            </center>

                            <div><b style="margin:0px">社会关系链整合</b></div>
                            <div class="content">
                                社交App能将多种关系整合，并且展现为简捷的界面，类似于微信App对多种社会化关系进行了深度整合。
                            </div>

                        </div>
                        <div class="clearfix"></div>
                        
                        
                        <div class="social_mid">
                            <div class="title">
                                社交App能为用户带来什么？
                            </div>
                            <div class="content">
                                <b>社交App是一种更快速的即时通讯工具，具有零资费、跨平台沟通、显示实时输入状态等功能，与传统的短信沟通方式相比，更灵活、智能，且节省资费，它的优势是：</b>
                            </div>
                        </div>
                        
                        <div class="social_bot" style="">
                            <div>
                               <b>基础社交</b>
                               <div>社交最基本的需求就是可以发语音、发图片、发文字。目前真旺云社交App可以实现该功能。</div>
                            </div>
                             <div>
                               <b>私信</b>
                               <div>作为一个聊天工具，可以防止被信息骚扰，只有发件人与收件人看得到的信息。</div>
                            </div>
                             <div>
                               <b>实时客服</b>
                               <div>通过移动端的客户服务。及时解决客户的需要，为网站客户服务是辅助网站销售不可缺少的工具。</div>
                            </div>
                            <div>
                               <b>群聊</b>
                               <div>借助此功能，可以创建一个聊天频道，大家在这个频道里面进行聊天。</div>
                            </div>
                            
                        </div>
                        <div class="clearfix"></div>
                        
                        
                    </div>
                </div>

                <div class="clearfix"></div>
                
                <div class="bgf2">
                    <% include components/case2.html %>
                </div>
                
                <% include website/footer.html %>
                <script src='<%= relativePath %>/javascript/website/plan.js'></script>
            </body>

        </html>