<% include website/var.html %>
    <% pageName = "a3" %>
        <!doctype html>
        <html>

        <head>
            <title>服务——真旺云应用平台</title>
            <meta name="description" content="">
            <link rel="stylesheet" href="<%= relativePath %>/stylesheets/plan.css" />
            <link rel="stylesheet" href="<%= relativePath %>/stylesheets/case.css" />
            <% include website/header.html %>
                <% include components/productheader.html %>
                    <div class="clearfix"></div>
                    <div class="service">
                        <div class="servicebg">
                            <div class="public_title mainStyle">
                                <h2>服务</h2>
                                <h1>行业解决方案</h1>
                            </div>
                        </div>

                        <div class="service_content mainStyle">
                            <div class="service_contentl">
                                <div class="content content-both1">
                                    <img class="pc-none" src="<%= relativePath %>/images/website/servicedemo.png" />
                                    <div>在近百亿的美业市场中，美妆、美容、美发、美甲占领了美业超过九成的市场份额，其中2014年其全国营业额超2300亿元，互联网的快速发展给美发行业带来了新的活力。同时，我们也可以看到整个美业移动市场发展潜力巨大。</div> 
                                    <div class="mobile-none">在传统企业互联网化的大趋势下，移动电商服务模式将彻底颠覆传统美发行业的消费服务习惯。尽管目前美发行业移动电商服务还处在摸索阶段，但面对美发行业近2000多亿元市场份额，这将会是一个诞生巨头的市场。</div>
                                
                                </div><br><br>
<div class="pc-none content">在传统企业互联网化的大趋势下，移动电商服务模式将彻底颠覆传统美发行业的消费服务习惯。尽管目前美发行业移动电商服务还处在摸索阶段，但面对美发行业近2000多亿元市场份额，这将会是一个诞生巨头的市场。</div>
                                <div class="title">传统美容美发连锁行业为何需要App？</div>

                                <div><b>不了解消费者需求</b></div>

                                <div class="content">
                                    很多传统线下美容美发企业缺乏对市场的调查与分析，习惯凭经验和感觉经营。
                                </div>

                                <div><b>不能保证服务质量</b></div>
                                <div class="content">
                                    当下，在服务行业中，企业的服务质量已成为提高其竞争力的必要条件，只有满足消费者对服务的需求，才能赢得消费者的信赖。
                                </div>

                                <div><b>信誉问题</b></div>
                                <div class="content">
                                    部分美容美发企业为了吸引顾客，不切实际的随意承诺，最终无法兑现，致使消费者对企业失去信任。
                                </div>
                                <div class="mobile-none"><br><br></div>

                                <div class="title">美容美发App功能</div>

                                <div><b>在线预约时间</b></div>

                                <div class="content">
                                    在线预约时间，用户们可以根据自己的时间弹性跟美容美发店预约个自己合适的时间，错开高峰期，避免等待。
                                </div>

                                <div><b>效果预览</b></div>
                                <div class="content">
                                    App里可以加入一些美容和美发的样式给用户参考，让客户选择自己喜欢的样子进行美容美发，让用户拥有更多的选择。
                                </div>

                                <div><b>社区交流平台</b></div>
                                <div class="content">
                                    可以在美容美发的App功能里面加一个社区交流平台，让爱美的姑娘们可以分享自己打扮的经验，让菇凉们可以在这里找到自己的知音和朋友。
                                </div>

                                <div><b>优惠促销推送</b></div>
                                <div class="content">
                                    商家能够随时随地为用户展示、推送优惠促销信息，激发潜在用户的消费热情。
                                </div>

                            </div>
                            <div class="service_contentr">
                                <center>
                                    <img class="mobile-none" src="<%= relativePath %>/images/website/servicedemo.png" />
                                </center>

                                <div><b>宣传手法传统、落后</b></div>
                                <div class="content">
                                    大部分美容美发企业还采用海报、电视媒体等相对传统的手法进行地毯式轰炸宣传。
                                </div>
                                <div class="mobile-none"><br><br></div>
                                <div><b>规模化经营与传统管理手段相矛盾</b></div>
                                <div class="content">
                                    美容美发企业实现规模化、连锁经营后，管理跟不上，工作效率低，信息传输慢，造成误差和信息不对称。
                                </div>
                                <div class="mobile-none"><br><br></div>
                                <div class="mobile-none"><div class="title"></div></div>

                                <div><b>会员管理</b></div>
                                <div class="content">
                                    建立会员卡（储值/打折积分）发放、会员管理、卡帐管理与监控、财务结算和统计的核心会员卡处理系统。
                                </div>

                                <div><b>地图导航</b></div>
                                <div class="content">
                                    用户定位所在位置，App就会显示该门店的详细店名、地址和电话，以及为用户提供去往美容美发门店的线路规划，可谓细致周全、服务到家。
                                </div>

                                <div><b>美容美发资讯尽在掌握</b></div>
                                <div class="content">
                                    资讯频道收集了最新的美容美发类资讯和流行的最新发型，能方便全面地将美容美发资讯尽在掌握。
                                </div>

                            </div>
                            <div class="clearfix"></div>

                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="bgf2">
                        <% include components/case3.html %>
                    </div>

                    <% include website/footer.html %>
                        <script src='<%= relativePath %>/javascript/website/aboutus.js'></script>
                        <script src='<%= relativePath %>/javascript/website/plan.js'></script>
                        </body>

        </html>