<% include website/var.html %>
    <% pageName = "a4" %>
        <!doctype html>
        <html>

        <head>
            <title>教育——真旺云应用平台</title>
            <meta name="description" content="">
            <link rel="stylesheet" href="<%= relativePath %>/stylesheets/plan.css" />
            <link rel="stylesheet" href="<%= relativePath %>/stylesheets/case.css" />
            <% include website/header.html %>
                <% include components/productheader.html %>
                    <div class="clearfix"></div>
                    <div class="education">
                        <div class="educationbg">
                            <div class="public_title mainStyle">
                                <h2>教育</h2>
                                <h1>行业解决方案</h1>
                            </div>
                        </div>

                        <div class="education_content mainStyle">
                            <div class="education_contentl">
                                <div class="content content-both1">
                                     <img class="pc-none" src="<%= relativePath %>/images/website/educationdemo.png" />
                                    <div>教育培训App开发是专门为教育机构、学员、教师打造的信息化教育移动客户端，运用互联网技术、创新管理模式，为客户打造集在线教学、在线答题、学习课程展示等功能为一体的开发解决方案，为培训机构搭建一个智能化、个性化、信息化的移动展示平台，提供招生就业、市场营销、品牌推广、业务拓展等专业化服务。</div>
                                   
                                </div><br>
                                <div class="mobile-none"><br></div>
                                <div class="clearfix"></div>
                                <div><b>学习课程展示</b></div>

                                <div class="content">
                                    可以展示每一个学习的课程，学生可以进去了解每一个课程信息。
                                </div>

                                <div><b>在线答题</b></div>
                                <div class="content">
                                    学生可以通过在线答题的方式回答老师提出的问题。
                                </div>

                                <div><b>学生信息管理</b></div>
                                <div class="content">
                                    在后台提供一个学生的详细信息管理系统。
                                </div>

                                <div><b>在线报名</b></div>

                                <div class="content">
                                    学生可以通过在线报名，参加各种课程培训。
                                </div>

                                <div><b>展示师资力量</b></div>
                                <div class="content">
                                    企业可以通过App展示企业雄厚的师资力量，让用户认识到企业的专业性，放心选择企业进行教育培训。
                                </div>

                                <div><b>教学音视频</b></div>
                                <div class="content">
                                    大量的在线教学视频，只需要连接上无线WiFi，就能在线看教学音视频。
                                </div>

                            </div>
                            <div class="education_contentr">
                                <center>
                                    <img class="mobile-none" src="<%= relativePath %>/images/website/educationdemo.png" />
                                </center>

                                <div><b>线上课件</b></div>
                                <div class="content">
                                    在线教学视频都有了，怎么少得了学习课件呢？在线上看完教学视频，还能下载线上课件，随时查看学习资料，拿出手机，点开教育App应用软件就能回顾上次教学内容，温故而知新。
                                </div>

                                <div><b>预约上课</b></div>
                                <div class="content">
                                    教育App除了基本功能之外，还有预约上课的功能。在线上预约老师上课，在线视频教学或者预约上门教学，都是可以实现的功能。
                                </div>

                            </div>
                            <div class="clearfix"></div>

                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="bgf2">
                        <% include components/case4.html %>
                    </div>

                    <% include website/footer.html %>
                        <script src='<%= relativePath %>/javascript/website/aboutus.js'></script>
                        <script src='<%= relativePath %>/javascript/website/plan.js'></script>
                        </body>

        </html>