<% include website/var.html %>
    <% pageName = "a5" %>
        <!doctype html>
        <html>

        <head>
            <title>餐饮——真旺云应用平台</title>
            <meta name="description" content="">
            <link rel="stylesheet" href="<%= relativePath %>/stylesheets/plan.css" />
            <link rel="stylesheet" href="<%= relativePath %>/stylesheets/case.css" />
            <% include website/header.html %>
                <% include components/productheader.html %>
                    <div class="clearfix"></div>
                    <div class="catering">
                        <div class="cateringbg">
                            <div class="public_title mainStyle">
                                <h2>餐饮</h2>
                                <h1>行业解决方案</h1>
                            </div>
                        </div>

                        <div class="catering_content mainStyle">
                            <div class="catering_contentl">
                                <div class="content content-both1">
                                    <img class="pc-none" src="<%= relativePath %>/images/website/cateringdemo.png" />
                                    <div>随着互联网+餐饮的发展，实体店商转向移动网店已然成为一种潮流。根据权威机构调研人员统计数据显示，2014年，整个餐饮业的O2O市场规模接近千亿，占餐饮行业总体比重的3.5%。预计到2017年，我国餐饮业的O2O市场将突破2000亿规模。</div>
                                    
                                </div><br>
                                    <div class="mobile-none"><br></div>
                                <div class="pc-none content"> 移动网店的兴起，以及消费者便捷和快速的消费特性，餐饮企业应该提高自身信息化。移动互联网业务快速发展，这就需要餐饮企业具有快速的演化能力，及时跟上时代步伐。一方面，餐饮企业在硬件上需打通线上业务和后台系统，包括“会员管理”、“电子菜谱(点菜器)”等应用的优化。另一方面，需要对线上线下的服务进行升级。</div>
                                <div class="title">餐饮App功能</div>

                                <div><b>餐厅介绍</b></div>

                                <div class="content">
                                    餐饮App对本餐厅的创立者、创立历史故事、创意来源、餐厅设计理念、餐厅服务理念等进行详细的介绍，了解餐厅的文化，让到餐厅就餐的客人感受餐厅的人文气息。
                                </div>

                                <div><b>美食展示</b></div>
                                <div class="content">
                                    将餐厅的每一道菜展示到餐饮App的美食展示栏目。餐厅制作好美味佳肴，然后使用像素高的相机拍下每一道经过精心烹饪的美食。经过后期修图，将色香味俱全的美食展示在餐饮App上，让客人可以在等待上菜的时候能够阅览美食图片，焦急等待的心情让他们更加对餐厅的美食充满期待。
                                </div>

                                <div><b>资讯导航</b></div>
                                <div class="content">
                                    在餐饮App手机客户端上能够设置资讯导航栏目，让客人轻松找到自己感兴趣的资讯。
                                </div>

                                <div><b>手机定位</b></div>

                                <div class="content">
                                    餐饮行业App还可以装置LBS定位系统，对用户手机定位，计算出此刻用户距离餐厅的距离，还需要走多少里路。
                                </div>

                            </div>
                            <div class="catering_contentr">
                                <center>
                                    <img class="mobile-none" src="<%= relativePath %>/images/website/cateringdemo.png" />
                                </center>

                                <div><b>订位点餐</b></div>
                                <div class="content">
                                    有了订位点餐功能，客人只需要在手机客户端上下单预定餐厅位子，以及订好当天就餐品类，手机App下单，方便快捷，为客人解决了预定餐厅位子难、选菜时间长等问题。
                                </div>

                                <div><b>用餐点评</b></div>
                                <div class="content">
                                    在餐饮App上还可以进行详细的点评以及商客互动，点评作为反馈信息回馈给餐厅，餐饮企业能够根据客人的点评改善餐厅运营情况，提升自己的市场竞争力，帮助餐厅树立亲民形象。
                                </div>

                                <div><b>优惠推送</b></div>
                                <div class="content">
                                    定期发布优惠信息，并且推送到每个餐饮行业App用户中。利用每周优惠活动或者每日团购等优惠促销手段做好优惠信息推送。利用点评信息分析最受欢迎的菜色，推出客人喜闻乐见的菜式优惠信息。
                                </div>

                                <div><b>一键呼叫</b></div>
                                <div class="content">
                                    这个功能主要用于到场就餐的客人，在用餐过程中，需要服务的时候可以直接点击手机客户端上的一键呼叫功能，再也不用挥手大叫“waiter”！
                                </div>

                            </div>
                            <div class="clearfix"></div>

                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="bgf2">
                        <% include components/case5.html %>
                    </div>

                    <% include website/footer.html %>
                        <script src='<%= relativePath %>/javascript/website/aboutus.js'></script>
                        <script src='<%= relativePath %>/javascript/website/plan.js'></script>
                        </body>

        </html>