<% include website/var.html %>
<% pageName = "aboutus" %>
<!doctype html>
<html>
    <head>
        <title>关于我们——真旺云应用平台</title>
        <meta name="description" content="">
        <link rel="stylesheet" href="<%= relativePath %>/stylesheets/aboutus.css" />

        <% include website/header.html %>

        <div class="aboutusbg">
            <div class="aboutus_title mainStyle">
               <div>关于我们</div>
               <span></span>
            </div>
        </div>

        <div id="aboutus" class="mainStyle">
            <h2>上海力谱宿云信息科技有限公司</h2>
             <div class="aboutus_detail">创立于2010年，公司总部在上海，随着业务的快速发展将在北京、广州设立分支机构。公司专注于移动互联领域，是国内领先的企业移动云服务运营商，为企业移动信息化提供前沿的云计算平台和解决方案。公司以移动互联行业应用软件即服务（SaaS）、平台即服务（PaaS）和移动商业价值解决方案等为主营业务，致力“让企业移动信息化更简单”！</div>
             <div class="aboutus_detail">上海力谱宿云现有的服务产品包括为企业提供移动业务研发与运营的一站式云服务平台（MaxLeap）、“真旺云”移动电商全网营销服务应用平台（MaxWon）、企业个性化需求定制开发的移动应用综合解决方案（MaxApps）等。上海力谱宿云的移动云服务模式，打破企业移动信息化建设壁垒，使企业无需担心业务平台的安全及稳定性，让企业能够“省心、省力、省钱”，更专注于自身业务的发展。</div>
             <div class="aboutus_detail">目前，上海力谱宿云正在为3000多家中小型企业提供移动互联云服务，行业覆盖移动电商、咨询服务、游戏、金融、房地产、连锁零售和教育培训等，越来越多的企业将真正体验到移动云服务带来的快速部署、按需定制、全方案服务、成本低廉的巨大好处！上海力谱宿云将围绕国家战略性新兴产业、国家科技创新体系建设要求，提升移动互联领域的专业技术服务能力，发展成为创新型的“企业移动云服务运营商”！</div>
            
             <h2>人员结构</h2>
            <div class="aboutusperson_detail">
                70人研发团队、30人设计团队，具有多年移动应用开发经验。<br>
        技术总监：美国海归博士，具有12年海外顶级投行核心系统开发经验；<br>
        产品总监：8年移动平台研发经验，曾负责十多款超千万用户量的移动应用；<br>
        运维总监：原就职于SAP，负责保障云平台研发和维护；<br>
        设计总监：来自搜狐，总领美工设计。<br>
        公司全员配备苹果30寸iMac和Mac Book Pro。BAT级别的产品团队为交付给客户超一流水准的服务而努力！<br>
            </div>   
            
            <h2>联系我们</h2>
            <div class="aboutusperson_detail">
                地址：上海市徐汇区宜山路888号新银大厦21层<br>
        邮编：200233<br>
        电话：021-64225098<br>
        网站：MaxLeap：<a href="http://www.maxleap.cn" target="_blank">http://www.maxleap.cn</a><br>
<!--        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MaxWon：<a href="http://www.maxwon.cn">http://www.maxwon.cn</a><br>
-->        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MaxApps：<a target="_blank" href="http://www.maxapps.cn">http://www.maxapps.cn</a><br>
            </div>
            <br><br><br>
        </div>

        <% include website/footer.html %>
    </body>
</html>
