<% include website/var.html %>
<% pageName="cowork" %>
<!doctype html>
<html>
    <head>
        <title>渠道合作——真旺云应用平台</title>
        <meta name="description" content="">
        <link rel="stylesheet" href="<%= relativePath %>/stylesheets/cowork.css" />

        <% include website/header.html %>

                <div class="coworkbg">
                    <div class="cowork_title mainStyle">
                        <div>真旺云<br>全网营销平台<div class="cowork-none">代理优势</div></div>
                        <span ></span>
                    </div>
                </div>
                <div id="cowork" class="mainStyle">
                    <div class="cowork_detail">
                        <div>
                            <h2>真旺云全网营销平台代理优势</h2>
                            <div>成为真旺云全网营销平台的地区合作伙伴，不仅仅是一个代理商，更是一个可以共同创业、共同成长的整体。和真旺云全网营销平台一起成长，快速占领本地移动互联网营销市场。</div>
                        </div>
                        <div>
                            <h2>巨大的利润空间</h2>
                            <div>低投资，高回报，利润空间高，成单率高。移动互联网全网营销目前还是蓝海市场，市场有多大，利润就有多大。</div>
                        </div>
                        <div>
                            <h2>极具特色和竞争力的产品</h2>
                            <div>真旺云全网营销平台团队凭借多年的移动互联网经验，产品销售简单，覆盖面广，充分保证产品的行业内的竞争力，进而保障代理商在市场中的竞争力。</div>
                        </div>
                        <div>
                            <h2>完善的支持体系</h2>
                            <div>真旺云全网营销平台为代理商提供运营过程中客服、技术、培训等一系列完善的支持，让代理商可以全身心的投入到市场开发中。</div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="cowork_conditions">
                        <h3>代理条件</h3>
                        <div>
                            1、认同移动互联网的发展趋势及美好前景，认同真旺云对形势的判断;<br> 2、具备从业互联网基础应用业务的基本能力，包括营销、服务的基本条件和素质；
                            <br> 3、接受真旺云全网营销平台业务监督、市场指导和业绩考核，并遵守协议相互约定的条款；
                            <br> 4、具备一定的本地化客户资源和客户服务能力。
                            <br>
                        </div>
                    </div>

                    <div class="cowork_support">
                        <center>
                            <h1></h1>
                        </center>
                        <div class="cowork_line">
                            <div class="cowork_lineh"></div>
                            <div class="cowork_linefont">真旺云全网营销平台<br>给予合作伙伴的支持</div>
                            <div class="cowork_lineh"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="cowork_supdetail">
                            <div class="cowork_supdetail1">
                                <center>
                                    <img src="<%= relativePath %>/images/website/cowork/cowork_img2.png" />
                                </center>
                            </div>
                            <div class="cowork_supdetail2">
                                <h3>产品技术支持</h3>
                                <div>
                                    1、提供产品系统支持，真旺云全网营销平台使用操作培训<br> 2、提供现场或远程技术培训，让合作伙伴掌握操作流程与技术
                                    <br> 3、不定期召集相关技术人员到上海总部接受产品、市场培训
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="cowork_supdetail">
                            <div class="cowork_supdetail1 cowork_supdetail12">
                                <center>
                                    <img src="<%= relativePath %>/images/website/cowork/cowork_img1.png" />
                                </center>
                            </div>
                            <div class="cowork_supdetail2">
                                <h3>宣传物料支持</h3>
                                <div>
                                    1、提供产品宣传资料，操作手册等资料（合作伙伴也可根据所在区域情况自行准备宣传资料）<br> 2、共享已有各行业客户策划方案
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cowork_process">
                        <div class="cowork_line">
                            <div class="cowork_lineh short"></div>
                            <div class="cowork_linefont cowork_processline short">代理流程</div>
                            <div class="cowork_lineh short"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="cowork_prosteps">
                            <div class="cowork_pro">
                                <div class="cowork_pronum">
                                    <div class="cowork_pronum1">1</div>
                                    <div class="cowork_pronum2"></div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="cowork_prodetail">
                                    <h3>在线提交代理申请</h3>
                                    <div>
                                        1、提交企业信息<br> 2、获取合作资料
                                    </div>
                                </div>
                            </div>
                            <div class="cowork_pro">
                                <div class="cowork_pronum">
                                    <div class="cowork_pronum1">2</div>
                                    <div class="cowork_pronum2"></div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="cowork_prodetail">
                                    <h3>合作资质审核</h3>
                                    <div>
                                        1、目标市场销售策略<br> 2、目标市场确认
                                    </div>
                                </div>
                            </div>
                            <div class="cowork_pro">
                                <div class="cowork_pronum">
                                    <div class="cowork_pronum1">3</div>
                                    <div class="cowork_pronum2"></div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="cowork_prodetail">
                                    <h3>签署合作协议</h3>
                                    <div>
                                        1、签署正式合作协议<br> 2、免加盟费，少量预付款
                                    </div>
                                </div>
                            </div>
                            <div class="cowork_pro">
                                <div class="cowork_pronum">
                                    <div class="cowork_pronum1">4</div>
                                    <div class="cowork_pronum2 coworkbg_entity"></div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="cowork_prodetail">
                                    <h3>开展区域市场业务</h3>
                                    <div>
                                        1、远程、现场培训指导<br> 2、产品技术支持、宣传物料支持
                                        <br> 3、线上、线下联合推广活动
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="cowork_reg">
                            <center>
                                <a href="<%=postLink %>">立即申请注册</a>
                            </center>
                        </div>

                    </div>

                </div>

        <% include website/footer.html %>
        <script src='<%= relativePath %>/javascript/website/cowork.js'></script>
    </body>
</html>