$filepath:"";

$font-family: arial,微软雅黑,黑体;

$main-blue:#3399ff;

$header-dropdown-bg:#333333;

$title-color:#333333;
$title-weight:bold;
$title-size:28px;


$subtitle-color:#cccccc;
$subtitle-size:30px;

$main-border:1px solid #666666;

$top-background:#666666;

$mobile-break-point:769px;