$font-family: arial, 微软雅黑, 黑体;
$Artbrush: Artbrush, 微软雅黑, 黑体;

$analytics-color: #4092FF;
$devcenter-color: #3BBC67;
$promotion-color: #F4AB2F;
$operation-color: #FD585D;

$white: #fff;
$black: #333;
$lightBlack: #777;

$bgBlack: rgba(0,0,0,.92);
$btnBlack: #555;
$bgGray: #F5F7F9;
$borderGray: #ccc;
$borderLightGray: #EEE;
$blue: #6db5fa;
$lightBlue: #12C1FA;
$darkBlue: #3181c0;

$orange: #ffbb51;
$bgBlue: #57A3F2;
$gray: rgb(212, 212, 212);
$lightGray: #47535F;
$darkGray: #3b4b57;
$linkColor: #33b1eb;
$green: #4BD083;
$red: #f35b5b;
$darkRed: #fc6154;

$navBgCol: rgb(85,104,119);

$activeBorderWidth: 4px;
$wrapperPaddingLeft: 20px;
$tocifyHeaderPaddingLeft: 30px;
$tocifySubHeaderPaddingLeft: 50px;

$headerHeight: 80px;
$footerHeight: 50px;
$minContentHeight: 300px;
$activeBorder: $activeBorderWidth solid $green;

$animationDuration: .2s;

$maxWidth: 1200px;
$docsMaxWidth: 1100px;

$normal-width: 1150px;

$middle-width: 800px;

$small-width: 500px;
