@charset "UTF-8";
.fixed-top {
  position: fixed;
  top: 0;
  z-index: 9999; }

.abs-top {
  position: absolute;
  top: 0;
  z-index: 9999; }

@media (min-width: 769px) {
  body {
    min-width: 1000px; }
  #mobile-top, #mobile-righter {
    display: none; }
  #header {
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    width: 100%;
    height: 90px; }
    #header.floating {
      background: rgba(255, 255, 255, 0.85);
      border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
      #header.floating .divider {
        background: rgba(0, 0, 0, 0.1); }
      #header.floating #navbar > li a {
        color: #000; }
    #header #header-logo {
      display: inline; }
      #header #header-logo > a {
        line-height: 80px;
        text-decoration: none; }
        #header #header-logo > a img {
          width: 380px;
          vertical-align: middle; }
    #header #navbar > li {
      margin-right: 27px;
      position: relative;
      display: inline-block; }
      #header #navbar > li:last-child {
        margin-right: 0px; }
      #header #navbar > li.active a {
        color: #3399ff;
        font-weight: bold; }
      #header #navbar > li a {
        font-size: 14px;
        color: #fff;
        display: inline-block; }
        #header #navbar > li a:hover {
          color: #3399ff; }
      #header #navbar > li > div.dropdown {
        top: 70px;
        width: 100%;
        /*display: none;*/
        visibility: hidden;
        position: absolute; }
        #header #navbar > li > div.dropdown .icon-wrapper {
          width: 100%;
          z-index: 10;
          text-align: center;
          position: absolute;
          line-height: 0px; }
          #header #navbar > li > div.dropdown .icon-wrapper .center-icon {
            display: inline-block;
            width: 20px;
            height: 10px;
            /*background: url("");*/ }
        #header #navbar > li > div.dropdown ul {
          z-index: 9;
          padding: 12px 26px;
          -webkit-border-radius: 6px;
                  border-radius: 6px;
          border: 1px solid #666666;
          background: #333333;
          position: absolute; }
          #header #navbar > li > div.dropdown ul li {
            list-style: none;
            white-space: nowrap;
            line-height: 35px;
            font-size: 14px; }
            #header #navbar > li > div.dropdown ul li.active a {
              font-weight: bold;
              color: #3399ff; }
            #header #navbar > li > div.dropdown ul li a {
              color: #fff; }
              #header #navbar > li > div.dropdown ul li a:hover {
                color: #3399ff; }
    #header #navbar {
      float: right;
      display: inline;
      line-height: 90px; } }

@media (max-width: 768px) {
  .mainStyle {
    width: 100% !important;
    margin: 0 auto !important; }
  #righter, #header {
    display: none; }
  #mobile-top {
    padding: 10px 0px;
    text-align: center;
    position: relative;
    background: #fff;
    border-bottom: 1px solid #cccccc; }
    #mobile-top #mobile-navbar {
      padding: 10px 0px 30px 0px;
      background: #efeff4;
      position: absolute;
      top: 101%;
      width: 100%;
      z-index: 999;
      display: none; }
      #mobile-top #mobile-navbar > li {
        position: relative;
        display: block;
        width: 30%;
        margin: 0 auto;
        transition: 0.2s;
        -webkit-transition: 0.2s;
        border-bottom: 1px solid #e0e0e6;
        height: 70px;
        opacity: 1;
        left: 0%; }
        #mobile-top #mobile-navbar > li.ready {
          opacity: 0.1;
          left: -80%; }
        #mobile-top #mobile-navbar > li:last-child {
          border-bottom: none; }
        #mobile-top #mobile-navbar > li.active a {
          color: #3399ff;
          font-weight: bold; }
        #mobile-top #mobile-navbar > li a {
          opacity: 1;
          font-size: 1.1rem;
          color: #606062;
          display: inline-block;
          height: 100%;
          width: 100%;
          line-height: 80px; }
          #mobile-top #mobile-navbar > li a:hover {
            color: #3399ff; }
    #mobile-top #mobile-nav-control {
      position: absolute;
      left: 0px;
      top: 0px;
      display: block;
      height: 100%;
      width: 15%; }
      #mobile-top #mobile-nav-control i {
        transition: background 0.5s;
        -webkit-transition: background 0.5s;
        background: url("../images/website/nav-control.png") no-repeat;
        background-position: 3px 5px;
        background-size: 48px;
        width: 24px;
        height: 24px;
        display: inline-block;
        margin: 0 auto;
        vertical-align: middle; }
      #mobile-top #mobile-nav-control.hide i {
        background-position: -25px 5px; }
    #mobile-top img {
      width: 40%; } }

.bottomline {
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  height: 0px; }

@media (min-width: 769px) {
  .copyRight {
    text-align: center;
    padding: 18px 0px;
    border-top: 1px solid #e5e5e5;
    font-size: 14px;
    color: #666666;
    background: #fff; }
    .copyRight.floating {
      width: 100%;
      background: rgba(255, 255, 255, 0.6);
      margin-top: -53px; }
  .wechatQr {
    display: none;
    position: absolute;
    width: 150px;
    left: 115%;
    bottom: -15px; }
  #goTop {
    position: fixed;
    bottom: 120px;
    right: 50%;
    margin-right: -590px;
    cursor: pointer;
    display: none; }
  #footer {
    padding: 40px 0px 32px 0px; }
    #footer .address {
      float: left; }
      #footer .address .text {
        line-height: 28px; }
        #footer .address .text.start {
          margin-top: 20px; }
        #footer .address .text.end {
          margin-bottom: 20px; }
    #footer .websiteMap {
      float: right; }
      #footer .websiteMap ul {
        text-align: center;
        float: right;
        margin-right: 70px;
        font-size: 14px; }
        #footer .websiteMap ul a {
          color: #666666;
          display: block; }
          #footer .websiteMap ul a:hover {
            color: #3399ff; }
        #footer .websiteMap ul li {
          margin-top: 6px; }
        #footer .websiteMap ul li.head {
          font-weight: bold;
          color: #666666; }
        #footer .websiteMap ul.end {
          margin-right: 0px; }
  #righter {
    z-index: 10000;
    position: fixed;
    right: 0px;
    top: 50%;
    margin-top: -160px; }
    #righter .cube {
      background: rgba(0, 0, 0, 0.8);
      margin-bottom: 1px;
      color: #fff;
      text-align: center;
      width: 80px;
      height: 80px;
      cursor: pointer;
      font-size: 12px;
      padding: 15px 10px 0px 10px;
      position: relative; }
      #righter .cube > .sicon {
        background: url("../images/website/index/righter.png") no-repeat;
        height: 30px;
        width: 30px;
        margin-bottom: 5px;
        display: inline-block;
        /*margin: 0 auto;*/ }
      #righter .cube .support {
        background-position: 0px 0px; }
      #righter .cube .price {
        background-position: 0px -32px; }
      #righter .cube .tel {
        background-position: 0px -102px; }
      #righter .cube .login {
        background-position: 0px -68px; }
      #righter .cube .phone400 {
        background: rgba(0, 0, 0, 0.6);
        line-height: 80px;
        width: 160px;
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: -1;
        font-size: 20px;
        font-style: italic;
        font-weight: bold;
        cursor: auto;
        display: none;
        white-space: nowrap; } }

@media (max-width: 768px) {
  #mobile-righter {
    position: fixed;
    right: 2%;
    z-index: 10000;
    bottom: 10px; }
    #mobile-righter .cubes {
      -webkit-box-sizing: content-box;
              box-sizing: content-box;
      z-index: -1;
      position: absolute;
      bottom: 0px; }
      #mobile-righter .cubes .visiblecubes {
        font-size: 0px;
        padding: 0px;
        margin: 0px; }
      #mobile-righter .cubes .cube {
        -webkit-tap-highlight-color: initial;
        display: block;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        text-align: center;
        width: 50px;
        height: 70px;
        cursor: pointer;
        font-size: 0.6rem;
        padding: 15px 0px 0px 0px;
        position: relative; }
        #mobile-righter .cubes .cube.head {
          padding: 0px;
          height: 25px;
          -webkit-border-radius: 50px 50px 0 0;
                  border-radius: 50px 50px 0 0; }
        #mobile-righter .cubes .cube.qq {
          height: 50px;
          padding: 0px; }
        #mobile-righter .cubes .cube.holder {
          height: 25px; }
        #mobile-righter .cubes .cube.foot {
          height: 25px;
          -webkit-border-radius: 0px 0px 50px 50px;
                  border-radius: 0px 0px 50px 50px; }
        #mobile-righter .cubes .cube > .sicon {
          height: 25px;
          width: 25px;
          margin-bottom: 5px;
          display: inline-block;
          /*margin: 0 auto;*/ }
    #mobile-righter #righter-control {
      -webkit-border-radius: 50%;
              border-radius: 50%;
      text-align: center;
      line-height: 60px;
      font-size: 0px;
      z-index: 2;
      background: transparent;
      width: 50px;
      height: 50px;
      border: 2px solid #fff;
      transition: 1s;
      -webkit-transition: 1s;
      -webkit-user-select: none;
      -moz-user-select: none;
       -ms-user-select: none;
           user-select: none; }
      #mobile-righter #righter-control img {
        transition: 0.2s;
        -webkit-transition: 0.2s;
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
        -webkit-transform: rotate(135deg); }
      #mobile-righter #righter-control.animating {
        transition: 0s;
        -webkit-transition: 0s;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        background: black !important; }
      #mobile-righter #righter-control.show img {
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        background: transparent; }
  #footer {
    padding: 60px 0 50px 0; }
    #footer .address {
      text-align: center; }
      #footer .address .text {
        font-size: 1.2rem;
        line-height: 28px; }
        #footer .address .text.start {
          margin-top: 20px; }
        #footer .address .text.end {
          margin-bottom: 20px; }
    #footer .websiteMap {
      display: none; }
    #footer .wechatQr {
      display: none;
      position: absolute;
      width: 150px;
      left: 115%;
      bottom: -15px; }
    #footer #goTop {
      position: fixed;
      bottom: 120px;
      right: 50%;
      margin-right: -590px;
      cursor: pointer;
      display: none; }
  .copyRight {
    text-align: center;
    padding: 18px 0px;
    border-top: 1px solid #e5e5e5;
    font-size: 0.8rem;
    color: #666666; }
    .copyRight.floating {
      position: absolute;
      width: 100%;
      bottom: 0px;
      background: rgba(255, 255, 255, 0.6); } }

.clearfix {
  clear: both;
  display: block;
  height: 0; }

#qiao-icon-wrap {
  display: none !important; }

body > a {
  display: none !important; }

.mask {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  background: #000;
  z-index: 8888;
  position: fixed;
  display: none; }

.model {
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 8889;
  position: absolute;
  display: none; }

.clearmid {
  height: 100%;
  width: 0px;
  display: inline-block;
  vertical-align: middle; }

.clearbtm {
  height: 100%;
  width: 0px;
  display: inline-block;
  vertical-align: bottom; }

.cleartop {
  height: 100%;
  width: 0px;
  display: inline-block;
  vertical-align: top; }

.divider {
  width: 1px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  background: rgba(243, 243, 243, 0.3); }
  .divider.gray {
    background: rgba(0, 0, 0, 0.1); }

.moreSlution {
  text-align: center;
  cursor: pointer;
  text-decoration: underline;
  color: #333333;
  font-size: 18px; }

.w430 {
  width: 430px; }

.w480 {
  width: 480px; }

.w490 {
  width: 490px; }

.w515 {
  width: 515px; }

.h10 {
  height: 10px;
  width: 100%; }

.h20 {
  height: 20px;
  width: 100%; }

.h30 {
  height: 30px;
  width: 100%; }

.h40 {
  height: 40px;
  width: 100%; }

.mainStyle {
  width: 980px;
  margin: 0 auto; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: arial, 微软雅黑, 黑体;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-touch-action: pan-y;
  background: #fff;
  font-size: 62.5%; }

body {
  margin: 0;
  font-family: arial, 微软雅黑, 黑体;
  word-break: break-word;
  color: #000;
  position: relative; }

h1, h2, h3, h4, h5, p {
  margin: 0; }

pre {
  padding: 24px 28px; }

a {
  cursor: pointer;
  text-decoration: none;
  color: #3399ff;
  outline: none !important;
  -webkit-tap-highlight-color: transparent; }

input, textarea {
  outline: none !important;
  -webkit-appearance: none;
  border: 1px solid #ddd;
  background: #fcfcfc;
  color: #777; }
  input:focus, textarea:focus {
    border-color: #cfcfcf;
    background: #fff;
    color: #444; }
  input[readonly], textarea[readonly] {
    border-color: #e0e0e0;
    background: red;
    color: #bbb; }

input {
  word-break: break-all; }

label {
  vertical-align: middle; }

textarea {
  resize: none; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

hr {
  margin: 0 auto;
  border: none; }

img {
  border: none; }

body {
  visibility: hidden; }

.error-promote {
  position: absolute;
  color: #ff3131;
  font-size: 12px;
  top: 102%; }

.checkbox-inline {
  display: inline-block;
  -webkit-user-select: none;
          user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer; }
  .checkbox-inline span {
    vertical-align: bottom;
    cursor: pointer; }
  .checkbox-inline .icon {
    background: url("../images/website/login/checkbox.png") no-repeat #fff;
    background-size: 30px;
    display: inline-block;
    height: 15px;
    width: 15px;
    vertical-align: bottom; }
    .checkbox-inline .icon.unchecked {
      background-position: -15px 0px; }
    .checkbox-inline .icon.checked {
      background-position: 0px 0px; }

@media (min-width: 769px) {
  #loginContent {
    background: url("../images/website/login/login-bg.jpeg") #eaeaea;
    background-size: cover;
    height: 800px;
    text-align: center;
    white-space: nowrap; }
  .register-title .tips {
    display: inline-block;
    vertical-align: middle;
    text-align: left; }
    .register-title .tips .tip-title {
      height: 28px;
      font-size: 16px;
      color: #000;
      font-weight: bold; }
    .register-title .tips .tip-content {
      font-size: 12px;
      color: #000; }
  .register-title > a:hover {
    opacity: 0.6;
    filter: alpha(opacity=60); }
  .typeSelector {
    text-align: left; }
    .typeSelector .checkbox-inline {
      font-size: 14px;
      margin-right: 44px;
      color: #333; }
      .typeSelector .checkbox-inline.end {
        margin-right: 0px; }
  .whichType {
    position: relative;
    height: 60px;
    text-align: center;
    font-size: 0px; }
    .whichType .grayLine {
      border-bottom: 1px solid #333;
      width: 25%;
      display: inline-block;
      vertical-align: middle; }
    .whichType .content {
      width: 50%;
      height: 30px;
      color: #333;
      font-size: 16px;
      line-height: 30px;
      overflow: visible;
      display: inline-block;
      vertical-align: middle;
      text-align: center; }
  .input-wrapper {
    text-align: left;
    width: 270px;
    position: relative;
    margin: 0 auto; }
    .input-wrapper.error > input {
      border: 1px solid #ff3131 !important; }
    .input-wrapper .labels {
      line-height: 28px;
      font-size: 16px; }
    .input-wrapper .input-tips {
      font-size: 12px;
      color: #000;
      text-align: left; }
    .input-wrapper > input {
      width: 100%;
      height: 40px;
      -webkit-border-radius: 4px;
              border-radius: 4px;
      font-size: 14px;
      background: #fff;
      padding-left: 12px; }
      .input-wrapper > input[type=password] {
        font-size: x-large; }
      .input-wrapper > input:focus {
        background: #fff;
        border: 1px solid #3399ff; }
    .input-wrapper > span {
      font-weight: bold;
      font-size: 14px;
      color: #333; }
  .login-content {
    margin-top: 90px; }
    .login-content.leftBigImage {
      height: 100%;
      width: 600px;
      text-align: center; }
    .login-content.rightInputs {
      width: 280px; }
      .login-content.rightInputs #login, .login-content.rightInputs #register {
        width: 100%;
        display: none; }
  #register-content, .login-content {
    text-align: center;
    vertical-align: middle;
    display: inline-block; }
  .logreg_title {
    margin-bottom: 35px;
    color: #333;
    text-align: right;
    font-size: 16px; }
    .logreg_title.left {
      text-align: left; }
  .goindexBtn {
    -webkit-border-radius: 4px;
            border-radius: 4px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    background: #66cc33;
    width: 160px; }
    .goindexBtn:hover {
      background: #56ab2b; }
  .jumpBtn {
    width: 100%;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    background: #66cc33; }
    .jumpBtn:hover {
      background: #56ab2b; }
  .postBtn {
    -webkit-border-radius: 4px;
            border-radius: 4px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    width: 200px;
    background: #66cc33; }
    .postBtn:hover {
      background: #56ab2b; }
  .loginBtn {
    -webkit-border-radius: 4px;
            border-radius: 4px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    width: 110px;
    background: #3399ff; }
    .loginBtn:hover {
      background: #0a85ff; }
  
  .postBtn-loading {
    -webkit-border-radius: 4px;
            border-radius: 4px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    width: 110px;
    background: #85d65c;
    cursor: not-allowed;
    display: none; }
  .loginBtn-loading {
    -webkit-border-radius: 4px;
            border-radius: 4px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    width: 110px;
    background: #66b3ff;
    cursor: not-allowed;
    display: none; } }

@media (max-width: 768px) {
  #loginContent {
    background: url("../images/website/login/login-bg.jpeg") no-repeat #eaeaea;
    background-size: cover;
    text-align: center;
    white-space: nowrap;
    overflow: hidden; }
  .login-content.leftBigImage {
    display: none; }
  .login-content.rightInputs {
    width: 80%;
    margin: 0 auto; }
    .login-content.rightInputs #login {
      display: none; }
    .login-content.rightInputs #register {
      width: 100%; }
      .login-content.rightInputs #register .register-title {
        text-align: center;
        margin-top: 20px; }
        .login-content.rightInputs #register .register-title .tips {
          display: inline-block;
          vertical-align: middle;
          text-align: center; }
          .login-content.rightInputs #register .register-title .tips .tip-title {
            font-size: 1.6rem;
            color: #333;
            font-weight: bold; }
          .login-content.rightInputs #register .register-title .tips .tip-content {
            margin-top: 12px;
            font-size: 1.2rem;
            color: #333; }
        .login-content.rightInputs #register .register-title > a, .login-content.rightInputs #register .register-title > .divider {
          display: none; }
  .typeSelector {
    text-align: left;
    overflow: hidden;
    font-size: 0px; }
    .typeSelector .checkbox-inline {
      font-size: 1.2rem;
      width: 33.3%;
      color: #333; }
      .typeSelector .checkbox-inline.center {
        text-align: center; }
      .typeSelector .checkbox-inline.end {
        text-align: right; }
      .typeSelector .checkbox-inline span {
        vertical-align: middle; }
  .whichType .content {
    margin: 0px 0px 20px 0px;
    color: #666666;
    font-weight: bold;
    font-size: 1.4rem; }
  .input-wrapper {
    text-align: left;
    position: relative;
    width: 100%;
    color: #666666; }
    .input-wrapper.error > input {
      border: 1px solid #ff3131 !important; }
    .input-wrapper.bottom {
      padding-bottom: 80px; }
    .input-wrapper .labels {
      font-weight: bold;
      line-height: 28px;
      font-size: 1.4rem; }
    .input-wrapper .input-tips {
      font-size: 12px;
      color: #666;
      text-align: left; }
    .input-wrapper input {
      width: 100%;
      height: 50px;
      -webkit-border-radius: 4px;
              border-radius: 4px;
      font-size: 14px;
      background: #fff;
      padding-left: 12px;
      border: 1px solid #666666; }
      .input-wrapper input:focus {
        background: #fff;
        border: 1px solid #3399ff; }
  .postBtn {
    -webkit-border-radius: 4px;
            border-radius: 4px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    width: 200px;
    background: #66cc33;
    font-size: 1.1rem;
    font-weight: bold; }
  .goindexBtn {
    -webkit-border-radius: 4px;
            border-radius: 4px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    background: #66cc33;
    width: 160px; }
  .postBtn-loading {
    -webkit-border-radius: 4px;
            border-radius: 4px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    width: 110px;
    background: #85d65c;
    cursor: not-allowed;
    display: none; } }
